{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--20">
            <div class="ht__bradcaump__wrap d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bradcaump__inner text-center brad__white">
                                <h2 class="bradcaump-title">關於我們</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                                  <span class="breadcrumb-item active">about us</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start About Us Area  -->
        <section class="food__about__us__area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title title__style--2 service__align--center">
                            <h2 class="title__line">為什麼選擇我們</h2>
                            <p>The process of our service </p>
                        </div>
                    </div>
                </div>
                <div class="row mt--80">
                    <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                        <div class="food__container">
                            <div class="food__inner">
                                <h2>觀看視頻以了解有關我們的更多信息</h2>
                                <p>源自義大利文Napoli，這個位於義大利西南部的海港，向以美麗的海灣聞名於世；也有人以它的英文名Naples音譯成「那不勒斯」。而這個全義大利最有活力、最熱情的城市，正是披薩、義式蕃茄醬的發源地。</p>
                            </div>
                            <div class="food__details">
                                <p>成立於1997年，在上市初期提供消費者平實的價格，即能享受美味道地的披薩。我們堅持使用當天現揉、天然發酵的麵糰，搭配口感濃純蕃茄製作的獨家蕃茄醬，並提供外送、外帶的服務，舒適的店內用餐環境、親切的服務態度更是拿坡里努力的目標。</p>
                            </div>
                            <div class="food__tab">
                                <div class="food__nav nav nav-tabs d-block" role="tablist">
                                    <a class="active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">1. History of our pizza (1997-2018)</a>

                                    <a id="nav-prepare-tab" data-toggle="tab" href="#prepare" role="tab" aria-controls="prepare" aria-selected="false">2. How  We prepare your meals</a>

                                    <a id="nav-meals-tab" data-toggle="tab" href="#meals" role="tab" aria-controls="meals" aria-selected="false">3. How  We prepare your meals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Area  -->
        <!-- Start Our Team Area -->
        <section class="food__team__area team--2 bg--white section-padding--lg bg-image--21">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section__title title__style--2 service__align--center section__bg__black">
                            <h2 class="title__line">我們的團隊</h2>
                            <p>Meet Our Team </p>
                        </div>
                    </div>
                </div>
                <div class="row mt--40">
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__thumb">
                                <a href="team-details.html">
                                    <img src="images/team/team-list/2.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="team-details.html">楊信致</a></h4>
                                    <h6>Founder</h6>
                                </div>
                                <p>為讓顧客每次都有全新的感受，不定時推出新口味披薩及多樣化的精選餐點，並且在每一次用餐，不論是單點、套餐甚至是團購，都可享有實惠的美食。生日饗宴、學生聚會、家庭聚餐......等，您生命中重要的時光，我們從不缺席。</p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__thumb">
                                <a href="team-details.html">
                                    <img src="images/team/team-list/3.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="team-details.html">彭驛頎</a></h4>
                                    <h6>Co-Founder</h6>
                                </div>
                                <p>以回饋顧客為出發點，沒有鋪張奢華的廣告，所精簡下來的每一分一毫，都轉換在高成本食材的選擇上，讓每一道最經典、時鮮的美食料理滿足台灣人們優質的生活需求，我們的披薩‧炸雞永遠讓您物超所值。希望來我們這裡品嘗的客人能夠留下非常深刻的印象</p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__thumb">
                                <a href="team-details.html">
                                    <img src="images/team/team-list/4.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="team-details.html">蔡佩珊</a></h4>
                                    <h6>Supplier</h6>
                                </div>
                                <p>以人體心臟、刀叉及湯匙為主體，並以紅一色為基調，強調來自披薩的發源地，代表我們對每一片披薩的用心，更象徵勝利的吉祥意涵。披薩、炸雞是專業烤爐美食外帶外送連鎖店，鎖定外食人口、學生族群、上班族、大小家庭為主要目標顧客群。</p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
            </div>
        </section>
        <!-- End Our Team Area -->
        <!-- Start Accordion Area -->
        <section class="food__acconrdion__area bg--white section-padding--lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section__title title__style--2 service__align--center">
                            <h2 class="title__line">常見問題</h2>
                            <p>Frequantly Ask Question </p>
                        </div>
                    </div>
                </div>
                <div class="row mt--80 pb--60">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="accordion" class="food_accordion" role="tablist">
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingOne">
                                  <h5>
                                        <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne"><span>1.</span> 網路訂購注意事項 ?</a>
                                  </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">訂餐中心營業時間為每日9:00~21:00。完成訂餐後30分鐘內，會以簡訊告知您訂單是否成立!(預約單不在此限) 
                                        請保持您所留的電話號碼於可通訊狀態。若您於非營業時間訂餐，訂餐中心將於隔日上午10點前發送簡訊。
                                        網路訂購訂單完成後，可利用本頁面上方[訂單查詢]功能查詢訂單狀態，或於營業時間來電080-007-6666訂餐中心查詢。
                                        若您收到簡訊內容為"訂單不成立"，則該筆訂單無效。您可改以來電080-007-6666訂餐中心或門市電話為您服務。
                                        若未收到訂單簡訊，且訂餐中心人員去電您電話逾時3小時未撥通，此筆訂單將無效刪除。 
                                        若您預期無法收訊，您可於送出訂單後立即撥打080-007-6666與我們訂餐人員確認(於營業時間內)，我們將優先為您處理。
                                        訂餐系統無法使用優惠券或兌換券折扣優惠，欲使用優惠券請來電門市或080-007-6666訂餐中心訂餐。
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingTwo">
                                  <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                        <span>2.</span> 外送/外帶服務注意事項 ?. 
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>來店外帶服務請於您抵達門市前1小時完成線上訂餐。</p> 
                                    <p>外送服務請提早於2小時前於完成線上訂餐。</p>
                                    <p>外送服務為限區服務！每筆結帳金額未滿$419元，需另加60元外送服務費。</p>
                                  </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingThree">
                                  <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                        <span>3.</span> 其他服務注意事項 ?. 
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>門市營業時間：週一至週日11：00 ~ 21：30。（最後接受訂單時間為21：00）</p>
                                        <p>三商行發行之三商禮券於使用前請先告知，美食街店及賣場店因合約關係，部份無法使用，可先電洽客服中心080-007-6666詢問。</p>
                                        <p>部分產品銷售完為止，依店內實際供應商品為主。</p>
                                        <p>炸雞可整桶換烤雞，雞肉部位恕不挑選。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Accordion Area -->
{% endblock %}