{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--20">
            <div class="ht__bradcaump__wrap d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bradcaump__inner text-center brad__white">
                                <h2 class="bradcaump-title">關於我們</h2>
                                <nav class="bradcaump-inner">
                                  <span class="breadcrumb-item active">about us</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start About Us Area  -->
        <section class="food__about__us__area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title title__style--2 service__align--center">
                            <h2 class="title__line">為什麼該選擇我們</h2>
                            <p>Why should you choose us?</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--80">
                    <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                        <div class="food__container">
                            <div class="food__inner">
                                <h2>因為我們是電鋸 有很多梗 梗梗梗梗梗梗梗梗</h2>
                                <p>最近因為身體不太舒服，所以今天跑去做全身檢查，等了很久醫生終於出來了，面帶凝重的跟我說:幸虧你來得早不然再晚下去.....，
                                    我心急如焚的問:在晚下去會怎樣，醫生:再晚下去...我就下班了，媽的我當場把那個醫生打成智障，讓他一輩子都在下班</p>
                                <p>警：你好，這裡是警察局，我：喂，警察局嗎？？這裡有兩個女生為了跟我交往打起來啦，
                                    警：有很嚴重嗎？，我：有啊，很嚴重！比較醜的快贏了</p>
                                <p>剛才我打電話給台哥大電信客服，台哥大客服：您好，很高興爲您服務。
                                    我說：你高興的太早了。然後就把電話掛了</p>
                                <p>天氣這麼熱，不妨去銀行晃晃，一來可以吹吹冷氣，二來可以看看自己戶頭的存款，這樣生理和心理都會涼快許多</p>
                                <p>剛剛去加油站加油，我跟工讀生說９２加１００，結果他回我等於１９２，哇幹，他應該沒被油槍打過吧</p>
                                <p>現在的女生越來越不重視個人衛生，已經連續三天沒有看到住對面的女孩洗澡了</p>
                                <p>槍不會殺人，有漂亮女兒的爸爸才會。那有醜女兒的爸爸會做什麼？問你爸</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="food__video__wrap tab-content" id="nav-tabContent">
                                <!-- Start Single Video -->
                                <div class="video__owl__activation tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="about__video__activation owl-carousel owl-theme">
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="{% static 'pizza/images/about/video/1.jpg' %}" alt="video images">
                                                <a class="video-play-button" href="https://youtu.be/jYOMQBmYXpE"><img src="{% static 'pizza/images/icon/play.png'%}" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>1</span>
                                            </div>
                                        </div>
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="{% static 'pizza/images/about/video/2.jpg'%}" alt="video images">
                                                <a class="video-play-button" href="https://youtu.be/t9IW11uUOdI"><img src="{% static 'pizza/images/icon/play.png'%}" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Video -->
                                <!-- Start Single Video -->
                                <div class="video__owl__activation tab-pane fade" id="prepare" role="tabpanel" aria-labelledby="nav-prepare-tab">
                                    <div class="about__video__activation owl-carousel owl-theme">
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="images/about/video/2.jpg" alt="video images">
                                                <a class="video-play-button" href="https://www.youtube.com/watch?v=wJ9Ll8uD07I"><img src="images/icon/play.png" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>1</span>
                                            </div>
                                        </div>
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="images/about/video/3.jpg" alt="video images">
                                                <a class="video-play-button" href="https://www.youtube.com/watch?v=wJ9Ll8uD07I"><img src="images/icon/play.png" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Video -->
                                <!-- Start Single Video -->
                                <div class="video__owl__activation tab-pane fade" id="meals" role="tabpanel" aria-labelledby="nav-meals-tab">
                                    <div class="about__video__activation owl-carousel owl-theme">
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="images/about/video/3.jpg" alt="video images">
                                                <a class="video-play-button" href="https://www.youtube.com/watch?v=wJ9Ll8uD07I"><img src="images/icon/play.png" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>1</span>
                                            </div>
                                        </div>
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="images/about/video/1.jpg" alt="video images">
                                                <a class="video-play-button" href="https://www.youtube.com/watch?v=wJ9Ll8uD07I"><img src="images/icon/play.png" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>2</span>
                                            </div>
                                        </div>
                                        <div class="about__video__inner">
                                            <div class="about__video__thumb">
                                                <img src="images/about/video/2.jpg" alt="video images">
                                                <a class="video-play-button" href="https://www.youtube.com/watch?v=wJ9Ll8uD07I"><img src="images/icon/play.png" alt="viveo play icon"></a>
                                            </div>
                                            <div class="about__video__content">
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Video -->
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Our Team Area -->
        <section class="food__team__area team--2 bg--white section-padding--lg bg-image--21">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section__title title__style--2 service__align--center section__bg__black">
                            <h2 class="title__line">團隊成員</h2>
                            <p>Teammates</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--40">
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">  
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="">李朝勳</a></h4>
                                    <h6>105590031</h6>
                                </div>
                                <p></p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="">許邦毅</a></h4>
                                    <h6>105590033</h6>
                                </div>
                                <p></p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="">楊信致</a></h4>
                                    <h6>105590040</h6>
                                </div>
                                <p></p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt--40">
                    <!-- Start Single Team -->
                    <div class="col-lg-6 col-md-6">
                        <div class="team text-center foo">  
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="">蔡佩珊</a></h4>
                                    <h6>105590451</h6>
                                </div>
                                <p></p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Team -->
                    <div class="col-lg-6 col-md-6">
                        <div class="team text-center foo">
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="">彭驛頎</a></h4>
                                    <h6>105650031</h6>
                                </div>
                                <p></p>
                                <ul class="team__social__net">
                                    <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
        </section>
        <!-- Start Accordion Area -->
        <section class="food__acconrdion__area bg--white section-padding--lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section__title title__style--2 service__align--center">
                            <h2 class="title__line">常見問題</h2>
                            <p>Frequantly Question </p>
                        </div>
                    </div>
                </div>
                <div class="row mt--80 pb--60">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="accordion" class="food_accordion" role="tablist">
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingOne">
                                  <h5>
                                        <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne"><span>1.</span> 網路訂購注意事項 ?</a>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">訂餐中心營業時間為每日9:00~20:00。完成訂餐後30分鐘內，會以簡訊告知您訂單是否成立!(預約單不在此限) 
                                        請保持您所留的電話號碼於可通訊狀態。若您於非營業時間訂餐，訂餐中心將於隔日上午10點前發送簡訊。
                                        網路訂購訂單完成後，可利用本頁面上方[訂單查詢]功能查詢訂單狀態，或於營業時間來電080-007-6666訂餐中心查詢。
                                        若您收到簡訊內容為"訂單不成立"，則該筆訂單無效。您可改以來電080-007-6666訂餐中心或門市電話為您服務。
                                        若未收到訂單簡訊，且訂餐中心人員去電您電話逾時3小時未撥通，此筆訂單將無效刪除。 
                                        若您預期無法收訊，您可於送出訂單後立即撥打080-007-6666與我們訂餐人員確認(於營業時間內)，我們將優先為您處理。
                                        訂餐系統無法使用優惠券或兌換券折扣優惠，欲使用優惠券請來電門市或080-007-6666訂餐中心訂餐。
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingTwo">
                                  <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                        <span>2.</span> 外送/外帶服務注意事項 ? 
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>來店外帶服務請於您抵達門市前1小時完成線上訂餐。</p> 
                                    <p>外送服務請提早於2小時前於完成線上訂餐。</p>
                                    <p>外送服務為限區服務！每筆結帳金額未滿$419元，需另加60元外送服務費。</p>
                                  </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-header" role="tab" id="headingThree">
                                  <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                        <span>3.</span> 其他服務注意事項 ? 
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>門市營業時間：週一至週日11：00 ~ 21：00。（最後接受訂單時間為20：00）</p>
                                        <p>發行之禮券於使用前請先告知，美食街店及賣場店因合約關係，全部無法使用。</p>
                                        <p>不吃飽哪有力氣減肥</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- End Accordion Area -->
{% endblock %}