{% extends 'base.html' %}
{% load static %}
{% load starsCount %}
{% block title %} - Detail{% endblock %}
{% block content %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--18">
  <div class="ht__bradcaump__wrap d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Pizza Details</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Blog List View Area -->
<section class="blog__list__view section-padding--lg menudetails-right-sidebar bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="food__menu__container">
          <div class="food__menu__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
            <div class="food__menu__thumb">
              <img src="{{pizza.pic.url}}" alt="images">
            </div>
            <div class="food__menu__details">
              <div class="food__menu__content">
                <h2>{{pizza.name}}</h2>
                <ul class="food__dtl__prize d-flex">
                  <li>NT.{{pizza.price}}</li>
                </ul>
                <ul class="rating">
                    {% for star in pizza|starsCount %}
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    {% endfor %}
                </ul>
                <p>餡料：{{pizza.element}}</p>
                <div class="product-action-wrap">
                  <div class="product-quantity">
                    <form id='myform' method='POST' action="{% url 'cart_add' pizza_id=pizza.pizza_no %}">
                        {{ cart_form }}
                        {% csrf_token %}
                      <div class="product-quantity">
                        <div class="cart-plus-minus">
                          <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                          <div class="add__to__cart__btn">
                            <input class="food__btn" type="submit" value="Add to cart">add to cart</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Product Descrive Area -->
          <div class="menu__descrive__area">
            <div class="menu__nav nav nav-tabs" role="tablist">
              <a class="active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab">簡介</a>
              <a id="nav-breakfast-tab" data-toggle="tab" href="#nav-breakfast" role="tab">評語</a>
            </div>
            <!-- Start Tab Content -->
            <div class="menu__tab__content tab-content" id="nav-tabContent">
              <!-- Start Single Content -->
              <div class="single__dec__content fade show active" id="nav-all" role="tabpanel">
                <p>{{pizza.description}}</p>
              </div>
              <!-- End Single Content -->
              <!-- Start Single Content -->
              <div class="single__dec__content fade" id="nav-breakfast" role="tabpanel">
                <div class="review__wrapper">
                  <!-- Start Single Review -->
                  <div class="single__review d-flex">
                    <div class="review__thumb">
                      <img src="{% static 'pizza/images/testimonial/rev/1.jpg' %}" alt="review images">
                    </div>
                    
                  </div>
                  <!-- End Single Review -->
                  <!-- Start Single Review -->
                  <div class="single__review d-flex">
                    <div class="review__thumb">
                      <img src="images/testimonial/rev/2.jpg" alt="review images">
                    </div>
                    <div class="review__details">
                      <h3>Robart Hanson</h3>
                      <div class="rev__meta d-flex justify-content-between">
                        <span>Admin - February 13, 2018</span>
                        <ul class="rating">
                          
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipis icing eltempor incididunt labore et dolore
                        magna aliqua. Ut enim adm veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                  <!-- End Single Review -->
                </div>
              </div>
              <!-- End Single Content -->
            </div>
            <!-- End Tab Content -->
          </div>
          <!-- End Product Descrive Area -->
        </div> 
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 md--mt--40 sm--mt--40">
        <div class="food__sidebar">
          <!-- Start Search Area -->
          <div class="food__search">
            <h4 class="side__title">搜尋</h4>
            <div class="serch__box">
              <input type="text" placeholder="Search keyword">
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <!-- Start Category Area -->
          <div class="food__category__area mt--60">
            <h4 class="side__title">種類</h4>
            <ul class="food__category">
              {% for cate in cates %}
                <li><a href="{% url 'menu' %}">{{ cate.1 }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!-- Start Sidebar Newsletter -->
          <div class="sidebar__newsletter mt--60">
            <h4 class="side__title">Newsletter</h4>
            <div class="sidebar__inbox">
              <input type="text" placeholder="Enter your E-mail">
              <a href="#"><i class="fa fa-paper-plane"></i></a>
            </div>
          </div>
          <!-- End Sidebar Newsletter -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}