{% extends 'base.html' %}
{% load static %}
{% load starsCount %}
{% block title %} - OrderDetail{% endblock %}
{% block content %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--18">
    <div class="ht__bradcaump__wrap d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">訂單編號:NO.{{order.order_no}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <div class="table-content table-responsive">
                    <table class='cart'>
                        <thead>
                            <tr class="title-top">
                                <th class="product-thumbnail">圖片</th>
                                <th class="product-name">商品</th>
                                <th class="product-price">價格</th>
                                <th class="product-quantity">數量</th>
                                <th class="product-subtotal">總價格</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orderitem %}
                            {% with pizza=item.pizza %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="{{pizza.get_absolute_url}}">
                                        <img src="{{pizza.pic.url}}" alt="product img">
                                    </a>
                                </td>
                                <td class="product-name"><a href="{{pizza.get_absolute_url}}">{{ pizza.name }}</a></td>
                                <td class="product-price"><span class="amount">NT.{{ pizza.price }}</span></td>
                                <td class="product-quantity">{{ item.quantity }}</td>
                                <td class="product-subtotal">NT.{{ item.get_cost }}</td>

                            </tr>
                            {% endwith %}
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                    <div class="cartbox-total d-flex justify-content-between">
                        <ul class="cart__total__list">
                            <li>小計</li>
                        </ul>
                        <ul class="cart__total__tk">
                            <li>NT.{{ order.get_total_cost }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_staff and not order.paid%}
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                    <p class="text-right">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="submit"><a class="food__btn grey--btn theme--hover">
                                    付款</a></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}